<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

    <title>Orury</title>

    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Jua', sans-serif;
        }

        .wrap {
            margin: auto;
            width: 900px;
        }

        .comment {
            font-weight: bold;
            color: blue;
        }

        .posting-box {
            margin: 10px auto 30px auto;
            width: 500px;

            border: 3px solid black;
            border-radius: 5px;

            padding: 25px;
        }
    </style>
</head>

<body>
    <div class="wrap">
        <div class="jumbotron">
            <h1 class="display-4">Orury</h1>
            <p class="lead">클라이밍의 모든 것!</p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">게시글 작성</a>
                <a class="btn btn-primary btn-lg" href="#" role="button">개인 정보</a>
                <a class="btn btn-primary btn-lg" href="#" role="button">검색</a>
            </p>
        </div>
        <div class="card-columns">
            <div class="card">
                <img class="card-img-top"
                    src="https://src.hidoc.co.kr/image/lib/2020/5/18/1589776145693_0.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <a href="http://naver.com" class="card-title">오늘도 클라이밍 한 번</a>
                    <p class="card-text"></p>
                    <p class="card-text comment"></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://www.womansense.co.kr/upload/woman/article/202112/thumb/49754-474495-sampleM.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <a href="http://naver.com" class="card-title"></a>
                    <p class="card-text"></p>
                    <p class="card-text comment"></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://src.hidoc.co.kr/image/lib/2020/5/18/1589776145693_0.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <a href="http://naver.com" class="card-title">오늘도 클라이밍 한 번</a>
                    <p class="card-text"></p>
                    <p class="card-text comment"></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://www.womansense.co.kr/upload/woman/article/202112/thumb/49754-474495-sampleM.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <a href="http://naver.com" class="card-title"></a>
                    <p class="card-text"></p>
                    <p class="card-text comment"></p>
                </div>
            </div><div class="card">
                <img class="card-img-top"
                    src="https://src.hidoc.co.kr/image/lib/2020/5/18/1589776145693_0.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <a href="http://naver.com" class="card-title">오늘도 클라이밍 한 번</a>
                    <p class="card-text"></p>
                    <p class="card-text comment"></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://www.womansense.co.kr/upload/woman/article/202112/thumb/49754-474495-sampleM.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <a href="http://naver.com" class="card-title"></a>
                    <p class="card-text"></p>
                    <p class="card-text comment"></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>