<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>document</title>
</head>
<body>
    <div class="outer-div">
        <h1> CreateForm </h1>
        <div class="inner-div">
            <form action="/CreateForm" method="post">
                userID? <input type="text" name="userId" th:value="${userId}"><br>
                password? <input type="text" name="password" th:value="${password}"><br>
                nickname? <input type="text" name="nickname" th:value="${nickname}"><br>
                sex? <input type="text" name="sex" th:value="${sex}"><br>
                birth? <input type="text" name="birth" th:value="${birth}"><br>
                email? <input type="text" name="email" th:value="${email}"><br>
                <input type="submit" value="send">
            </form>
        </div>
    </div>
</body>